*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: #000 url('./assets/images/nebulaBg.png') top center no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

img {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

p {
  color: #8d8d8d;
}

.btn {
  width: 20%;
  margin: 1em auto;
}

/* ====== HEADER START ==== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 3em auto;
  border-radius: 52px;
  background: #132016;
  padding: 0.5em 1em;
}

.close-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  padding: 2em 1em;
  height: 100vh;
  left: 800px;
  top: 0;
  align-items: end;
  color: #fff;
  background: #132016e1;
  backdrop-filter: blur(5px) brightness(0.9);
  -webkit-backdrop-filter: blur(5px) brightness(0.9);
  transition: all 1s ease-in-out;
  z-index: 20;
}

.open-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  padding: 2em 1em;
  height: 100%;
  left: 0;
  top: 0;
  align-items: end;
  color: #fff;
  background: #132016e1;
  backdrop-filter: blur(5px) brightness(0.9);
  -webkit-backdrop-filter: blur(5px) brightness(0.9);
  transition: all 1s ease-in-out;
  z-index: 20;
}

header .logo {
  width: 30%;
}

.nav-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: 0.7em auto;
  }
}

figure {
  display: grid;
  place-items: center;
}

#pcNav {
  display: none;
}

@media screen and (min-width: 900px) {
  header {
    padding: 0.1em 5em;
  }

  .open-navbar,
  .close-navbar,
  #navIconLogo,
  .nav-icon,
  .close {
    display: none;
  }

  #pcNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;

    .logo {
      width: 20%;
    }

    a {
      margin: 0.2em 0;
      font-weight: 400;
    }
  }
}

/* ====== HEADER END ==== */

/* ====== HOME START ==== */

main {
  padding: 5em 0;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  overflow-x: hidden;
}

main h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  line-height: 1.1;
}

@media screen and (min-width: 900px) {
  h1 {
    width: 70%;
    font-size: 4rem;
  }
}
h1 b {
  color: #e0dd02;
}

.hero {
  position: relative;
  z-index: 2;
}
.earth {
  width: 80%;
  margin: 2em auto;
  animation: spin 8s ease-in-out infinite forwards;
}

/* Unlike */
.unlikeWrapper {
  padding: 3em 0;
}

.unlikeWrapper .unlike {
  text-align: center;
}

.unlikeWrapper .unlike h2 {
  font-size: 1.4rem;
  width: 90%;
  margin: 0 auto;
  line-height: 1.4;
}

.unlikeWrapper .unlike p {
  width: 100%;
  margin: 1em auto;
}

@media screen and (min-width: 900px) {
  .unlikeWrapper .unlike h2 {
    width: 40%;
    font-size: 3rem;
  }

  .unlikeWrapper .unlike p {
    width: 60%;
  }
}

.cardWrapper {
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.midCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.cardWrapper .card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  height: 240px;
  padding: 40px 18px;
  border-radius: 9px;
  background: #0f210f;
}
.cardWrapper .card h4 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2;
}

.cardWrapper .card p {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 1.5em;
  width: 100%;
}

.cardWrapper .card figure img {
  width: 48px;
  height: 48px;
}

#card1,
#card4 {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .midCard {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 90%;
  }

  .cardWrapper .card {
    padding: 40px 48px;
  }
  .cardWrapper .cardp {
    font-size: 1.1rem;
    width: 90%;
  }
  .cardWrapper .cardh4 {
    font-size: 2rem;
  }
  #card1,
  #card4 {
    width: 50%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1.01);
  }
  50% {
    transform: rotate(10deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* == footet== */

footer {
  padding: 5em 0;
  background: #132016;
}

footer article {
  width: 90%;
  margin: 0 auto;
}
.topfooter {
  display: flex;
  justify-content: space-between;
}
.topfooter .logo {
  width: 40%;
}

.topfooter .logo figure {
  width: 50%;
}

.footerLinks {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footerLinks ul {
  margin-top: 2em;
}
.footerLinks ul li {
  margin: 1.3em 0;
}

.bottomFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6em;
}

/* ====== HOME END ==== */

@media screen and (max-width: 900px) {
  main {
    padding: 1em 0;

    width: 90%;
    .earth {
      width: 100%;
    }
  }

  footer {
    .topfooter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .logo {
        width: 100%;
        figure {
          width: 100%;
        }
      }

      .footerLinks {
        margin-top: 2em;
        width: 100%;
      }
    }

    .bottomFooter {
      display: flex;
      flex-direction: column;
      gap: 1em;
      justify-content: space-between;
      align-items: center;
      margin-top: 6em;
    }
  }

  .btn {
    width: 30%;
    margin: 1em auto;
  }
}

.galaxyPlanets {
  position: relative;
  width: 100%;
  min-height: 1300px;
  /* overflow: hidden; */
  margin: 0 auto;
  margin-top: -100px;
  z-index: 2;
}

.stars {
  position: relative;
  animation: stars 10s ease-in-out infinite forwards;
  z-index: -1;
}

@keyframes stars {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.1);
  }
}

.outline6 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  animation: earthC6 10s ease-in-out infinite forwards;
  animation-delay: 1s;
}

@keyframes earthC6 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.outline5 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transform: scale(0.85);
  animation: earthC5 10s ease-in-out infinite forwards;
  animation-delay: 1s;
}

@keyframes earthC5 {
  0% {
    transform: rotate(0deg) scale(0.85);
  }
  50% {
    transform: rotate(-50deg) scale(0.85);
  }
  100% {
    transform: rotate(0deg) scale(0.85);
  }
}

.outline3 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transform: scale(0.75);
  animation: earthC3 10s ease-in-out infinite forwards;
  animation-delay: 1s;
  z-index: -1;
}

@keyframes earthC3 {
  0% {
    transform: rotate(0deg) scale(0.75);
  }
  50% {
    transform: rotate(-50deg) scale(0.75);
  }
  100% {
    transform: rotate(0deg) scale(0.75);
  }
}

.outline2 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transform: scale(0.6);
  animation: outline2 10s ease-in-out infinite forwards;
  animation-delay: 2s;
}

@keyframes outline2 {
  0% {
    transform: rotate(0deg) scale(0.6);
  }
  50% {
    transform: rotate(50deg) scale(0.6);
  }
  100% {
    transform: rotate(0deg) scale(0.6);
  }
}

.outline {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transform: scale(0.3);
  animation: outline 10s ease-in-out infinite forwards;
  animation-delay: 2s;
}

@keyframes outline {
  0% {
    transform: rotate(0deg) scale(0.3);
  }
  100% {
    transform: rotate(360deg) scale(0.3);
  }
}

/* .outline4 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transform: scale(0.8);
} */

.earthBig {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transform: scale(0.5);
  animation: earthSpin 10s ease-in-out infinite forwards;
}

@keyframes earthSpin {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(0.5);
  }
}
/*
.sun {
  position: absolute;
  width: 100%;
  height: auto;
  top: -10%;
  left: -39%;
  transform: scale(0.05);
}

.yellow {
  position: absolute;
  width: 100%;
  height: auto;
  top: -26%;
  left: -44%;
  transform: scale(0.11);
}

.blue {
  position: absolute;
  width: 100%;
  height: auto;
  top: -14%;
  right: -50%;
  transform: scale(0.11);
}

.illustration {
  position: absolute;
  width: 100%;
  height: auto;
  top: -20%;
  right: -31%;
  transform: scale(0.05);
}

.red {
  position: absolute;
  width: 100%;
  height: auto;
  top: -25%;
  right: -15%;
  transform: scale(0.03);
} */

/*
@media screen and (max-width: 900px) {
  .galaxyPlanets {
    position: relative;
    width: 90%;
    min-height: 600px;
    margin-top: -50px;
  }

  .illustration {
    position: absolute;
    width: 100%;
    height: auto;
    top: -15%;
    right: -28%;
    transform: scale(0.07);
  }

  .red {
    position: absolute;
    width: 100%;
    height: auto;
    top: -17%;
    right: -15%;
    transform: scale(0.03);
  }

  .yellow {
    position: absolute;
    width: 100%;
    height: auto;
    top: -26%;
    left: -50%;
    transform: scale(0.11);
  }

  .blue {
    position: absolute;
    width: 100%;
    height: auto;
    top: -25%;
    right: -49%;
    transform: scale(0.11);
  }
}
*/

@media screen and (max-width: 600px) {
  .galaxyPlanets {
    position: relative;
    width: 100%;
    min-height: 250px;
    margin-top: 0px;
    margin: 0 auto;
  }
  /*
  .sun {
    position: absolute;
    width: 100%;
    height: auto;
    top: -9%;
    left: -41%;
    transform: scale(0.07);
  }

  .illustration {
    position: absolute;
    width: 100%;
    height: auto;
    top: -20%;
    right: -31%;
    transform: scale(0.07);
  }

  .red {
    position: absolute;
    width: 100%;
    height: auto;
    top: -26%;
    right: -15%;
    transform: scale(0.03);
  }

  .yellow {
    position: absolute;
    width: 100%;
    height: auto;
    top: -19%;
    left: -50%;
    transform: scale(0.11);
  }

  .blue {
    position: absolute;
    width: 100%;
    height: auto;
    top: -13%;
    right: -50%;
    transform: scale(0.11);
  } */
}
